.warning {
  font: var(--label);
  color: var(--always-white);
  background-color: var(--color-danger);
  border-radius: 0.75rem;
  margin-top: 2.25rem;
  padding: 0.75rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  & span {
    flex: 1;
  }
  & img[src*="close"] {
    width: 1rem;
    height: 1rem;
  }
  & img[src*="warning-circle-filled"] {
    width: 1rem;
    height: 1rem;
  }

  & img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(34%) saturate(2868%) hue-rotate(181deg) brightness(115%) contrast(98%);
  }
}

.hidden {
  display: none;
}